@font-face {
    font-family: 'goudy_bookletter_1911regular';
    src: url('/css/fonts/goudybookletter1911-webfont.eot');
    src: url('/css/fonts/goudybookletter1911-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/goudybookletter1911-webfont.woff') format('woff'),
         url('/css/fonts/goudybookletter1911-webfont.ttf') format('truetype'),
         url('/css/fonts/goudybookletter1911-webfont.svg#goudy_bookletter_1911regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
    /*height:100%;*/
}
body {
    font-family: 'VT323', cursive;
    background: #151515;
    margin: 0 auto;
    min-height: 350px;
    min-width:475px;
    max-width: 850px;
    color:#00ff00;
}

header {
    position:absolute;
    top:50%;
    left: 0;
    margin-top: -80px;
    width: 100%;
    z-index: 1000;
    min-width:570px;

	-moz-transition-property: margin-top,top;
	-webkit-transition-property: margin-top,top; 
	-o-transition-property: margin-top,top; 
    transition-property: margin-top,top;

    -moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s; 
	-o-transition-duration: 0.5s; 
    transition-duration: 0.5s;
}

.hidden {
	display: none !important;
}

.header-content {
    background: #000;
    max-width: 700px;
    width: 80%;
    margin: 0 auto;
    padding:25px 50px 25px;
    border-left: #ccc 2px solid;
    border-right: #ccc 2px solid;
    border-bottom: #ccc 2px solid;
    position:relative;
}

h1 {
    font-size:44px;
    line-height:46px;
    margin:0;
}
h2 {
    color: #656565;
    margin:0;
}
.about {
	color: #B0B0B0;
	font-size:14px;
	position:absolute;
	right:20px;
	top: 83px;
	display:inline-block;
}

.bg-left {
    width:50%;
    height:100%;
    position:fixed;
    top:0;
    left:0;



}
.bg-right {
    width:50%;
    height:100%;
    position:fixed;
    top:0;
    left:50%;

}

.mute {
	width:20px;
	height:22px;
	background-image: url('/images/speaker.png');
	background-repeat: no-repeat;
	background-position: left;
	display:inline-block;
	cursor: pointer;
	position: absolute;
	right:20px;
	top:41px;
}
.mute:hover {
	background-position: -25px;
}

.mute.muted {
	background-position: -60px;
}
.mute.muted:hover {
	background-position: -83px;
}

.page-wrapper {

	

}
.page {
	width: 77%;
    max-width: 650px;
    margin-top:150px;
    padding:10px 50px 50px;
    margin: 150px auto 0;
    background: #000;
    display:none;
    position:relative;
    font-size:24px;
}

.word-marker {
	color: #909090;
	position: absolute;
	left: 40px;
}

.loader {
    margin-top: 20px;
}

.spinner-bg {
    background: url('/images/loading-spinner.png') no-repeat left;
    width:28px;
    height:28px;
    position:relative;
    display:inline-block;
}
.spinner-right-wrapper {
    position:absolute;
    overflow: hidden;
    width:50%;
    height:100%;
    top:0;
    left:50%;
}
.spinner-left-wrapper {
    position:absolute;
    overflow: hidden;
    width:50%;
    height:100%;
    top:0;
    left:1px;
}

.spinner-right {
    background: url('/images/loading-spinner.png') no-repeat right;
    width:100%;
    height:100%;

    -ms-transform:rotate(-180deg); /* IE 9 */
    -moz-transform:rotate(-180deg); /* Firefox */
    -webkit-transform:rotate(-180deg) translate3d( 0, 0, 0); /* Safari and Chrome */
    -o-transform:rotate(-180deg); /* Opera */
    transform:rotate(-180deg);

    -ms-transform-origin:0 50%; /* IE 9 */
    -webkit-transform-origin:0 50% 0; /* Safari and Chrome */
    -moz-transform-origin:0 50% 0%; /* Firefox */
    -o-transform-origin:0 50% 0; /* Opera */
    transform-origin:0 50% 0;
    
}
.spinner-left {
    background: url('/images/loading-spinner.png') no-repeat -28px center;
    width:100%;
    height:100%;

    -ms-transform:rotate(180deg); /* IE 9 */
    -moz-transform:rotate(180deg); /* Firefox */
    -webkit-transform:rotate(180deg) translate3d( 0, 0, 0); /* Safari and Chrome */
    -o-transform:rotate(180deg); /* Opera */
    transform:rotate(180deg);

    -ms-transform-origin:100% 50%; /* IE 9 */
    -webkit-transform-origin:100% 50% 0; /* Safari and Chrome */
    -moz-transform-origin:100% 50% 0%; /* Firefox */
    -o-transform-origin:100% 50% 0; /* Opera */
    transform-origin:100% 50% 0;
}

.loader-text {
	color: #656565;
    display: inline-block;
    line-height: 28px;
    margin-left: 5px;
    vertical-align: top;
}

.done {
    margin-top:40px;
}

.no-device {
    
}
.ie .no-device {
    display: block;
}

.ie .spinner-bg {
    display:none;
}

#clickStart {
    color: #656565;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mobile{
    color: #cecebf;
}