html, body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	background:#000000;
	overflow-x:hidden;
	line-height:0;
}

body.min {
	height:240px;
	width:320px;
	overflow: auto;
}

#canvasWrapper {
	height:100%;
	width:100%;
	display:block;
}


.canvas {
	position:absolute;
	top:0;
}


#bar_1{
	left:0;
	top:0;
	width:14.29%;
	height:66.667%;
	background-color:#cccccc;
	z-index:10;
	position:absolute;
}
#bar_2{
	left:7%;
	top:0;
	width:29%;
	height:66.667%;
	background-color:#ffff00;
	z-index:9;
	position:absolute;
}
#bar_3{
	left:28.56%;
	top:0;
	width:14.29%;
	height:66.667%;
	background-color:#00ffff;
	z-index:10;
	position:absolute;
}
#bar_4{
	left:36%;
	top:0;
	width:29%;
	height:66.667%;
	background-color:#00ff00;
	z-index:9;
	position:absolute;
}
#bar_5{
	left:57.13%;
	top:0;
	width:14.29%;
	height:66.667%;
	background-color:#ff00ff;
	z-index:10;
	position:absolute;
}
#bar_6{
	left:69.375%;
	top:0;
	width:29%;
	height:66.667%;
	background-color:#ff0000;
	z-index:9;
	position:absolute;
}
#bar_7{
	left:85.71%;
	top:0;
	width:14.29%;
	height:66.667%;
	background-color:#0000ff;
	z-index:10;
	position:absolute;
}

#bar_8{
	left:0;
	top:66%;
	width:14.29%;
	height:7%;
	background-color:#0000ff;
	z-index:5;
	position:absolute;
}
#bar_9{
	left:7%;
	top:66%;
	width:29%;
	height:7%;
	background-color:#131313;
	z-index:-5;
	position:absolute;
}
#bar_10{
	left:28.56%;
	top:66%;
	width:14.29%;
	height:7%;
	background-color:#ff00ff;
	z-index:5;
	position:absolute;
}
#bar_11{
	left:36%;
	top:66%;
	width:29%;
	height:7%;
	background-color:#131313;
	z-index:-5;
	position:absolute;
}
#bar_12{
	left:57.13%;
	top:66%;
	width:14.29%;
	height:7%;
	background-color:#00ffff;
	z-index:5;
	position:absolute;
}
#bar_13{
	left:69.375%;
	top:66%;
	width:29%;
	height:66.667%;
	height:7%;
	background-color:#131313;
	z-index:-5;
	position:absolute;
}
#bar_14{
	left:85.71%;
	top:66%;
	width:14.29%;
	height:7%;
	background-color:#cccccc;
	z-index:5;
	position:absolute;
}

#bar_15{
	left:0;
	top:72.97%;
	width:17.85%;
	height:27.03%;
	background-color:#083E59;
	z-index:10;
	position:absolute;
}
#bar_16{
	left:14%;
	top:72.97%;
	width:29%;
	height:27.03%;
	background-color:#ffffff;
	z-index:9;
	position:absolute;
}
#bar_17{
	left:35.70%;
	top:72.97%;
	width:17.85%;
	height:27.03%;
	background-color:#3A007E;
	z-index:10;
	position:absolute;
}
#bar_18{
	left:50%;
	top:72.97%;
	width:29%;
	height:27.03%;
	background-color:#131313;
	z-index:9;
	position:absolute;
}

#bar_19{
	left:71.41%;
	top:72.97%;
	width:4.763%;
	height:27.03%;
	background-color:#000000;
	z-index:10;
	position:absolute;
}
#bar_20 {
	left:74%;
	top:72.97%;
	width:10%;
	height:27.03%;
	background-color:#131313;
	z-index:9;
	position:absolute;
}
#bar_21 {
	left:80.947%;
	top:72.97%;
	width:4.763%;
	height:27.03%;
	background-color:#262626;
	z-index:10;
	position:absolute;
}

#bar_22 {
	left:82%;
	top:72.97%;
	width:18%;
	height:27.03%;
	background-color:#131313;
	z-index:9;
	position:absolute;
}